<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Jimit Dholakia">
  <meta name="keywords" content="GitHub Markdown Emoji Cheatsheet">
  <meta name="description" content="Complete list of GitHub Markdown Emoji Codes">
  
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://jimit105.github.io/github-emoji-cheatsheet">
  <meta property="og:title" content="GitHub Markdown Cheatsheet">
  <meta property="og:description" content="Complete list of GitHub Markdown Emoji Codes">
  <meta property="og:image" content="{{ site.url }}/meta_img.png">
  
  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="https://jimit105.github.io/github-emoji-cheatsheet/">
  <meta name="twitter:title" content="GitHub Markdown Cheatsheet">
  <meta name="twitter:description" content="Complete list of GitHub Markdown Emoji Codes">
  <meta name="twitter:image" content="{{ site.url }}/meta_img.png">
  
  <title>{{ page.title | default: site.title }}</title>
</head>
<body>
  {{ content }}
</body>
</html>

